*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }

.container{
    margin: 0  auto;
    width: 50%;
    padding: 20px;
    height: 100vh auto;
}

img{
    width: 100%;
}

@media (max-width: 768px){

    .container{
      width: 100%;    
      position: absolute;
      top: 0;
      padding: 2px;
    }

  }